---
version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00" # UTC
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directory: "/function"
    ignore:
      - dependency-name: "@aws-sdk/client-identitystore"
        update-types: ["version-update:semver-minor"]
    schedule:
      interval: "daily"
      time: "09:00" # UTC
    cooldown:
      default-days: 7
  - package-ecosystem: "terraform"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00" # UTC
    cooldown:
      default-days: 7
